/**************************
*
*	GENERAL
*
**************************/
.camera_container {
	padding-bottom: 68.125%;
	position: relative;
	overflow: hidden;
}
@media (max-width:1479px) {
	.camera_container {padding-bottom: 975px;}
}
.camera_wrap a, .camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
.camera_wrap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 40px;
	margin-bottom: 0 !important;
}
.camera_wrap img {
	max-width: none!important;
}
.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
    background: url(../images/blank.gif);
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	behavior: url(js/pie.htc);
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_bar {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	display: none;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
	height: 100%;
	position: absolute;
	width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
	height: auto;
	position: absolute;
	width: 100%;
}
.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camera_caption {
	display: block;
	color: #9fa9a9;
	font-weight: 300;
	text-align: center;
	font-size: 20px;
	line-height: 25px;
	background: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 38%;
}
.camera_caption h3 {
	font-size: 60px;
	line-height: 70px;
	color: #fff;
	margin-bottom: 25px;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.camera_caption p {
	font-size: 36px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-top: 5%;
}
.camera_caption .bd-ra {
	height: 94px;
	width: 94px;
	line-height: 89px;
	text-align: center;
	background: #dcd6d6;
	font-family: "FontAwesome";
	color: #fff;
	font-size: 60px;
	line-height: 94px;
	color: #423e3e;
	margin: 80px 50px 0;
	display: inline-block;
}
.camera_caption .bd-ra span {line-height: 94px;}
.camera_caption .bd-ra:hover {
	background: #fff;
}
.camera_caption > div { }
.camerarelative {
	overflow: hidden;
	position: relative;
}

